{% extends "../../sg-templates/_layouts/base.twig" %} 

{% set containers = [ 
  {"name": "mini", "value": "320px"}, 
  {"name": "tiny", "value": "600px"},   
  {"name": "small", "value": "700px"},   
  {"name": "medium", "value": "900px"},   
  {"name": "large", "value": "960px"}, 
  {"name": "big", "value": "1024px"}, 
  {"name": "max", "value": "1200px"}, 
  {"name": "outer-max", "value": "1920px"}, 
  {"name": "full", "value": "100%"},  
] %}

{% block page %}

<!-- section Colors -->
<section class="sg-container-section">

  <h2 class="sg-h2">Containers</h2>

  <table class="sg-table">

    <thead>
      <tr>
        <th>Name</th>
        <th>value</th>
      </tr>
    </thead>

    <tbody>

      {% for item in containers %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.value }}</td>
      </tr>
      {% endfor %}

    </tbody>

  </table>

  <h2 class="sg-h2">Mixins</h2>

  <table class="sg-table">

    <thead>
      <tr>
        <th>Name</th>
        <th>value</th>
      </tr>
    </thead>

    <tbody>

        <tr>
            <td><code class="sg-code">@include container</code> </td>
            <td>Container without padding</td>
          </tr>

      <tr>
        <td> <code class="sg-code">@include container-padding</code> </td>
        <td>Container with padding</td>
      </tr>
  
    </tbody>

  </table>

</section>

<section class="sg-container-section">
<h2 class="sg-h2">No padding</h2>
</section>

{% for item in containers %}
<div class="sg-container-demo o-container-{{ item.name }}">.o-container-{{ item.name }}</div>
{% endfor %}

<section class="sg-container-section">
<h2 class="sg-h2">With padding</h2>
</section>

{% for item in containers %}
<div class="sg-container-demo o-container-padding-{{ item.name }}">.o-container-padding-{{ item.name }}</div>
{% endfor %}

{% endblock %}