{% extends "../../sg-templates/_layouts/base.twig" %} 

{% block page %}

<!-- Section Typography -->
<section class="sg-container-section">

  <h2 class="sg-h2">Typography</h2>

  <h3 class="sg-h3">Heading</h3>

  <div class="sg-preview">
    {% for i in 1..6 %}
    <h1 class="h{{ i }}">H{{ i }} lorem ipsum</h1>
    {% endfor %}
  </div>

  <table class="sg-table">

    <thead>
      <tr>
        <th width="50%">CSS Class*</th>
        <th width="50%">SASS include</th>
      </tr>
    </thead>

    <tbody>
      {% for i in 1..6 %}
      <tr>
        <td>
          <code class="sg-code">.h{{ i }}</code>
        </td>
        <td>
          <code class="sg-code">@include h{{ i }}()</code>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

  <!-- Text Body Section -->
  <h3 class="sg-h3">Text</h3>


  <div class="sg-preview">
      {% for i in 1..6 %}
      <h1 class="t{{ i }}">T{{ i }} lorem ipsum</h1>
      {% endfor %}
    </div>
  
    <table class="sg-table">
  
      <thead>
        <tr>
          <th width="50%">CSS Class*</th>
          <th width="50%">SASS include</th>
        </tr>
      </thead>
  
      <tbody>
        {% for i in 1..6 %}
        <tr>
          <td>
            <code class="sg-code">.t{{ i }}</code>
          </td>
          <td>
            <code class="sg-code">@include t{{ i }}()</code>
          </td>
        </tr>
        {% endfor %}
      </tbody>
  
    </table>



</section>

{% endblock %}