{% set bases = [
  { 'name' :  'General', 'url' : '' },
  { 'name' :  'Breakpoints', 'url' : 'breakpoints.html' },
  { 'name' :  'Colors', 'url' : 'colors.html' },
  { 'name' :  'Container', 'url' : 'container.html' },
  { 'name' :  'Grid', 'url' : 'grid.html' },
  { 'name' :  'Typography', 'url' : 'typography.html' },
  { 'name' :  'Icons', 'url' : 'icons.html' },
  { 'name' :  'Mixins', 'url' : 'mixins.html' },
] %}

{% set pagesElements = [] %}

{% set pagesComponents = [
  { 'name' :  'Modal', 'url' : 'c-modal.html' },
  { 'name' :  'Menu Mobile', 'url' : 'c-menu-mobile.html' },
] %}

{% set pagesLayout = [] %}

<button id="nav-mobile" @click.prevent="showMenuMobile()">Menu</button>

<sg-nav-mobile>
  <div slot="header">
    <span class="vue-nav-mobile__title">Styleguide</span>
  </div>
  <div slot="nav" class="nav">

    <div class="vue-nav-mobile__section-title">Base</div>
    <ul class="vue-nav-mobile__section-list">
      {% for page in bases %}
      <li>
        <a href="/styleguide/{{ page.url }}">{{ page.name }}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="vue-nav-mobile__section-title">Elements</div>
    <ul class="vue-nav-mobile__section-list">
      {% for page in pagesElements %}
      <li>
        <a href="/styleguide/elements/{{ page.url }}">{{ page.name }}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="vue-nav-mobile__section-title">Components</div>
    <ul class="vue-nav-mobile__section-list">
      {% for page in pagesComponents %}
      <li>
        <a href="/styleguide/{{ page.url }}">{{ page.name }}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="vue-nav-mobile__section-title">Layout</div>
    <ul class="vue-nav-mobile__section-list">
      {% for page in pagesLayout %}
      <li>
        <a href="/styleguide/layout/{{ page.url }}">{{ page.name }}</a>
      </li>
      {% endfor %}
    </ul>

  </div>
</sg-nav-mobile>